.section-comidas h2 {
  font-weight: 700;
  font-size: 1.625rem;
  padding-top: 65px;
}

.section-comidas p {
  font-weight: 500;
  color: #f6b100;
  font-size: 1.25rem;
  cursor: pointer;
}

.section-comidas p:hover {
  color: #e2a200;
}

.div-comidas-salada {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.comidas-salada img {
  max-width: 137px;
  max-height: 143px;
  align-items: center;
  border-radius: 50%;
}

.comidas-salada {
  text-align: center;
  background: linear-gradient(to top, #fff 50%, rgba(231, 231, 231, 0.25));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 100px 100px 20px 20px;
  margin: 20px;
  padding: 20px 20px 0px 20px;
}

.comidas-salada p{
    color: #181A20;
    font-size: 1.125rem;
    font-weight: 700;
}

.comidas-salada span{
    color: #9F9F9F;
    font-size: .875rem;
}

.teste1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6b100;
    max-width: 40px;
    color: #fff;
    margin: 0 auto;
    border-radius: 50px;
    padding: 5px 0px;
    gap: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.teste1 p{
    color: #fff;
    font-size: .7rem;
} 

.teste1 p:hover{
  color: #fff;
} 