@import url(utilitario.css);
@import url(header.css);
@import url(comidas-section.css);
@import url(grid-principal.css);
@import url(modal.css);

* {
  /* box-sizing: border-box; */
  margin: 0px;
  padding: 0px;
  font-family: Urbanist, Arial, Helvetica, sans-serif;
  color: #181a20;
}

a {
  text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}
